* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'averta cy w10';
}

body {
  width: 100%;
  height: 100vh;
}

#container {
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  height: 70%;
  display: flex;
}

#feature-content {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  padding: 5px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#feature-content button {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  text-transform: capitalize;
}

#video-content {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
}

video {
  width: 100%;
  height: 100%;
}

#images {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

#images img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

#images video {
  width: 250px;
  height: 250px;
}
